:root {
  --c-white: #F9F8F5;
  --c-black: #000000;
  --c-red: #F0444A;

  --t-header1: 4.063rem;
  --t-header2: 2.188rem;
  --t-header3: 1.5rem;
  --t-body: 1rem;
  --t-small: 0.875rem;
  --t-button: 1.188rem;
  --t-bigText: 3rem;

  --f-thin: 'HelveticaNeueThin', serif;
  --f-regular: 'HelveticaNeue', serif;
  --f-light: 'HelveticaNeueLight', serif;
}

@font-face {
  font-family: HelveticaNeue;
  src: url("/font/HelveticaNeueReg.ttf") format("truetype");
}

@font-face {
  font-family: HelveticaNeueThin;
  src: url("/font/HelveticaNeueLTPro-Th.otf") format("opentype");
}

@font-face {
  font-family: HelveticaNeueLight;
  src: url("/font/HelveticaNeueLTPro-Lt.otf") format("opentype");
}

@font-face {
  font-family: Narnia;
  src: url("/font/Narnia.otf") format("opentype");
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  font-family: 'HelveticaNeue', serif;
  font-size: var(--t-body);
  background-color: var(--c-white);
}

html {
  background-color: var(--c-white);
  scroll-behavior: smooth;
  cursor:url('../assets/cursor_black.png'), auto;
}

.swiper-horizontal > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
  position: absolute;
  left: var(--swiper-scrollbar-sides-offset, 10%);
  bottom: var(--swiper-scrollbar-bottom, 0);
  top: var(--swiper-scrollbar-top, auto);
  z-index: 50;
  height: var(--swiper-scrollbar-size, 1.5px);
  width: calc(100% - 2 * var(--swiper-scrollbar-sides-offset, 10%));
}

.cookie {
  max-width: 100vw;
  background-color: var(--c-black);
  color: var(--c-white);
  display: flex;
}

.cookie__floating--bottom-left {
  bottom: 0;
  left: 0;
}

.cookie__floating {
  width: 100%;
  background-color: var(--c-black);
}

.cookie__floating__buttons {
  background-color: #000000;
}

.cookie__floating__buttons__button {
  background-color: var(--c-black);
  color: var(--c-white);
  font-weight: bold;
  font-size: 0.9rem;
  width: 100%;
  min-height: 600px;
  white-space: nowrap;
  user-select: none;
  padding: 0.375rem 0.75rem;
}

.cookie__floating__buttons__button--accept {
  color: var(--c-white);
}